name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: macOS-latest

    steps:
    - name: Set Xcode Version
      uses: maxim-lobanov/setup-xcode@v1.2.1
      with:
        xcode-version: '12.2'

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Gem Dependencies
      run: bundle install

    - name: Run UnitTests
      run: bundle exec fastlane test

  snapshot_tests:
    name: Snapshot Tests
    runs-on: macOS-latest

    steps:
    - name: Set Xcode Version
      uses: maxim-lobanov/setup-xcode@v1.2.1
      with:
        xcode-version: '12.2'

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Gem Dependencies
      run: bundle install

    - name: Run SnapshotTests
      run: bundle exec fastlane snapshot_test

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Run SwiftLint Checks
      uses: norio-nomura/action-swiftlint@3.2.1
      with:
        args: --strict
